<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Item Categories</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table class="table table-bordered">
          <div id="categories">
            <thead>
              <tr>
                <th>Item</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <div id="item_categories">
                <% @item_categories.each do |item_category| %>
                <%= render item_category %>
                <% end %>
              </div>
            </tbody>
          </div>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.col -->
<%= link_to "New item category", new_item_category_path %>
</div>

