<div class="col-md-12">
  <!-- general form elements -->
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">New Transaction</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <%= render "form", user_transaction: @usertransaction %>

  </div>
  <!-- /.card -->

</div>